[submodule "3-fallout/lib/forge-std"]
	path = 002-fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2-fallback/lib/forge-std"]
	path = 001-fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "1-hello-ethernaut/lib/forge-std"]
	path = 000-hello-ethernaut/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-coinflip/lib/forge-std"]
	path = 003-coinflip/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "6-token/lib/forge-std"]
	path = 005-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7-delegation/lib/forge-std"]
	path = 006-delegation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-telephone/lib/forge-std"]
	path = 004-telephone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7-force/lib/forge-std"]
	path = 007-force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8-vault/lib/forge-std"]
	path = 008-vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "9-king/lib/forge-std"]
	path = 009-king/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10-re-entrancy/lib/forge-std"]
	path = 10-re-entrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10-re-entrancy/lib/openzeppelin-contracts"]
	path = 10-re-entrancy/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
